.item {
  list-style: none;
  position: relative;
  height: max-content;
  padding-right: 10px;
}

.product {
  display: flex;
  flex-direction: column;
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  height: 360px;
  padding: 1rem;
  cursor: pointer;
  transition: ease 0.2s;
  user-select: none;
}

.product:hover {
  box-shadow: var(--shadow);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 165px;
  max-height: 165px;
  height: 100%;
  padding: 2rem;
  margin: 0 auto;
  cursor: pointer;
}

.image {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;

  /* margin: 0 auto; */
}

.product-info {
  position: relative;
  min-height: 135px;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.name {
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 25px;
  margin-bottom: 5px;
  height: max-content;
  color: rgb(95, 88, 88);
  overflow: hidden;
}

.price {
  position: absolute;
  bottom: 0;
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.favourites-btn {
  position: absolute;
  top: 15px;
  right: 25px;
  z-index: 5;
}

.bookmark-icon {
  color: rgba(0, 0, 0, 0.13);
  font-size: 1.9rem;
  cursor: pointer;
}

.bookmark-icon:hover {
  color: rgba(0, 0, 0, 0.25);
}

.bookmark-icon-favourite {
  font-size: 1.9rem;
  color: var(--primary-color);
}

/* .bookmark */
