.dropdown {
  box-sizing: border-box;
  height: max-content;
  width: 100%;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.category {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  text-align: start;
}
