.menu-list {
  width: 20%;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.96rem;
  min-width: min-content;
  padding-left: 0;
}

.menu-list li {
  box-sizing: border-box;
  border-radius: 50px;
  text-align: start;
  white-space: pre;
  min-width: 260px;
  max-width: 300px;
  height: 65px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  color: var(--secondary-color);
  /* background-color: black; */
  margin-bottom: 7px;
}

.active {
  background-color: var(--secondary-color);
}

.active a {
  color: var(--primary-color);
}
