.item-container {
  display: grid;
  grid-template-columns: 38% 1fr 1fr 1fr 9%;
  column-gap: 23px;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f8f8f8;
  /* align-content: space-evenly; */
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* gap: 10px; */
}

.item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  min-width: 73px;
  min-height: 73px;
  max-width: 73px;
  max-height: 73px;
}

.item-img > * {
  max-width: 100%;
  max-height: 100%;
}

.item-name {
  text-align: start;
}

.item-name > * {
  margin-left: 20px;
}

.price {
  display: flex;
  padding-left: 10px;
}

.amount {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.amount-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  cursor: pointer;
}

.amount-icon:hover {
  color: var(--primary-color);
}

.remove-icon {
  font-size: 1.5rem;
  width: min-content;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-icon:hover {
  background: var(--tertiary-color);
}
